 {
            "source_image_family": "ubuntu-1604-lts",
            "service_account_key_file": "{{ user `service_account_key_file` }}",
            "folder_id": "b1gmcbvsb39pnjf538la",
            "image_name": "reddit-base-{{timestamp}}"
  }
